<div class="container-lg">
    <h1>What's Solale?</h1>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>
    <h1>How to use</h1>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>
    
    <div class="btn-wrapper col-10 mx-auto">
      <div class="row justify-content-center">
        <div class="col-4 p-2">
          <%= link_to "Guest Log in（閲覧用）", users_guest_sign_in_path, class: "btn btn-info btn-lg btn-block sign_in", method: :post %>
        </div>
        <div class="col-4 p-2">
          <%= link_to "Log in",new_user_session_path, class: "btn btn-info btn-lg btn-block sign_in" %>
        </div>
        <div class="col-4 p-2">
          <%= link_to "Sign Up",new_user_registration_path, class: "btn btn-info btn-lg mb-3 btn-block sign_up" %>
        </div>
      </div>
      <div class="row p-2">
        <%= link_to "Look at someone's Solale",posts_path, class: "btn btn-primary btn-lg btn-block sign_up" %>
      </div>
    </div>  
</div>