<div class="container">
  <% if user_signed_in? %>  
    <h3>New Notifications</h3>
    <div class="row justify-content-center, border border-info" >
      <%# 通知欄作成予定+サイズを一定にしたい %>
    </div>
  <% else %><%# 何も入れない %>
  <% end %>
  <h3>みんなのSolale</h3>
  <%= render 'list', posts: @posts %>
</div>