<div class="container">
  <div class="row">
    <% if @posts.count == 0 %>
      <h3 class="mt-3 text-center">検索結果がありません。</h3>
    <% else %>    
      <% @posts.each do |post| %>
      <%= render 'list', post:post %>
      <% end %>
    <% end %>
  </div>
</div>